.root{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tooltip{
    -fx-font-size: 14px!important;
}

#addWord{
    -fx-font-size: 24px;
}

#addWord icon{
    -fx-font-size: 40px;
}